<!DOCTYPE html>
<html>
<head>
    <title>Budget Helper</title>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/transactions.js"></script>
    <link rel="stylesheet" href="css/global.css">
</head>
<div class="parent">
    <div class="container">
        <%- include ("./include/nav") %>
    </div>
    <div class="container">
        <div class="container-child">
            <h3>Recent Transactions</h3>
            <table id="trans-table">
                <tr>
                    <th>Date</th>
                    <th>Vendor</th>
                    <th>Amount</th>
                    <th>Budget</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </tr>
            <%
            if(transData.length!=0){
                var i=1;
                transData.forEach(function(data){
            %>
                    <tr>
                        <td><%=data.date %></td>
                        <td><%=data.vendor %></td>
                        <td><%=data.amount %></td>
                        <td><%=data.budget %></td>
                        <td><a href="#" onclick="edit(this)">Edit</a></td>
                        <td><a href="/delete-transaction/<%=data.trans_id%>">Delete</a></td>
                    </tr>
                <%  }) %>
            <% } else{ %>
                <tr>
                    <td colspan="6">No Data Found</td>
                </tr>
            <% } %>   
            </table>
            <div>
                <form id="form" action="/add-transaction" method="POST">
                    <label for="date">Date</label>
                    <input type="date" name="date">
                    <br>
                    <label for="vendor">Vendor</label>
                    <input type="text" name="vendor">
                    <br>
                    <label for="amount">Amount $</label>
                    <input type="text" name="amount">
                    <br>
                    <label for="budget">Budget</label>
                    <select name="budget" id="budget-dropdown">
                    </select>
                    <br>
                    <button type="submit">Add Transaction</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>